.carousel {

    margin-top: 100px;

    .carousel-cell {
      display: flex;
      margin: 10px 0;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 25%;
        object-fit: cover;
      }

      .carousel-quote {
        padding: 15px;
        width: 75%;

        .carousel-quote-title {
          font-weight: bold;
        }

        .carousel-quote-text {
          font-size: 0.9em;
        }

        .carousel-quote-author {
          font-style: italic;
          text-align: right;
        }
      }
    }
  }